<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA49gMpdrCNbKMtHS44JMvCYdp8mTNfb08</string>
	<key>GCM_SENDER_ID</key>
	<string>1091832998908</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Codepath.TranslateMe</string>
	<key>PROJECT_ID</key>
	<string>translateme-49a16</string>
	<key>STORAGE_BUCKET</key>
	<string>translateme-49a16.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1091832998908:ios:3ab2f082c8f9e1de3b2079</string>
</dict>
</plist>